body{
    background-color: red;
}

h1{
    text-align: center;
    color:white;
}

canvas{
    background-color: white;
}

p{
    color:white;
}

#chatDiv{
    height: 150px;
    overflow: auto;

}

#startDiv{
    width: 100px;
    height: 100px;
    
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}